@import 'colors';

.navbar {
  border-radius: 0;
}

.bg-cft-dark {
  background-color: $cft-blue-bg;
}

.sinc-top-nav {
  padding-bottom: 0rem;
}

.sinc-top-nav__menu-text {
  display: none;
  @media (min-width: 544px) {
    display: initial;
  }
}
