.notification {
  padding: 15px;
  border: #000 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.notification_dismiss {
  float: right;
  position: relative;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

.notification_dismiss:hover {
  opacity: .5;
}

.sinc-notification--success {
  .notification {
    background: $brand-success;
  }
}

.sinc-notification--error {
  .notification {
    background: $brand-danger;
  }
}

.alert-enter {
  opacity: 0.01;
}
.alert-enter.alert-enter-active {
  opacity: 1;
  transition: opacity 120ms ease-in;
}
.alert-leave {
  opacity: 1;
}
.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-out;
}
