/*
 * Import our third-party style files
 */


@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';
@import '~tether/src/css/tether.sass';
@import '~react-widgets/dist/css/react-widgets.css';

/*
 * Variables that everybody needs
 */
@import 'colors';
@import 'fa-glyphs';

/*
 * Import Bootstrap variables and override them
 */
@import 'variables';
@import 'bootstrap-overrides';
@import 'react-widgets-overrides';

/*
 * Import our SASS submodules
 */
@import 'autosuggest';
@import 'faq';
@import 'forms';
@import 'help';
@import 'header';
@import 'membership-history';
@import 'notifications';
@import 'qualifications';
@import 'navbar';
@import 'sidebar';
@import 'tables';

/*
 * TODO: Find somewhere else for these to live; there shouldn't be any
 * rules in this file.
 */

.sinc-page-header {
  border-bottom: solid 1px $cft-blue-bg;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.sinc-section-header {
  background: $cft-blue-bg;
  color: #fff;
  padding: 0.25rem 0.5rem;
  &--minor {
    font-size: 1.5rem;
  }
}

.sinc-not-implemented-yet {
  margin-top: 2rem;
}
