# Environment variables
.env


# Dependency directories
node_modules

# Builds are failing on Heroku so the build directory is going under
# source control. When the node-sass issue is fixed, we can remove
# it again.
# build

# Logs
logs
*.log
npm-debug.log

# Coverage
lib-cov
coverage
.coverage/

# VIM swap files
.*.sw[op]
