# This is the Django default. If you change it in your local version of
# sincserver, you'll need to change it here too.
# NB: Don't use surrounding quotes or a trailing slash!
API_URL=http://localhost:8000
